{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="login-form">
        <form method="POST" action="{% url 'account_change_password' %}">
            {% csrf_token %}

            <h1>{% trans "Change Password" %}</h1>

            {% if form.errors %}
                <div class="errorlist" style="padding-left: 35px">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="content">
                <div class="input-field">
                    <input type="password" name="oldpassword" placeholder="Current Password" autocomplete="current-password" required id="id_oldpassword">
                </div>
                <div class="input-field">
                    <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required id="id_password1">
                </div>
                <div class="input-field">
                    <input type="password" name="password2" placeholder="New Password (again)" autocomplete="new-password" required id="id_password2">
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>

            <div class="action">
                <button type="button" onclick="window.location.href = '/'">{% trans "Cancel" %}</button>
                <button type="submit">{% trans "Change Password" %}</button>
            </div>
        </form>
    </div>
{% endblock %}
