asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==2.0.12
coverage==6.3.2
Django>=5.1.13
django-filter==21.1
djangorestframework==3.15.2
factory-boy==3.2.1
Faker==13.3.5
idna==3.7
Markdown==3.3.6
python-dateutil==2.8.2
pytz==2022.1
requests==2.32.4
six==1.16.0
sqlparse==0.5.0
urllib3==2.5.0
django-webpack-loader==1.5.0
django-allauth==65.3.0
html2text==2020.1.16
django-preferences==1.0.0
djangorestframework-gis==1.0
django-dbbackup==4.0.2

beautifulsoup4==4.13.3