.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.separator {
  width: 1em;
}

.time-box {
  min-width: 200px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-top: -8px;
  margin-bottom: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 20px;
  background-color: #FFC300;
  padding-bottom: 10px;

  .MuiGrid-root {
    margin-left: -2px;
    padding-left: 0;
  }

  .MuiOutlinedInput-root {
    background-color: white;
  }

  .headerInput {
    border-radius: 4px;
    background-color: white;
  }

  .app-title {
    color: #1d575c;
    margin-top: 20px;
    margin-bottom: -30px;
    font-weight: bolder;
    font-size: 25px;
    display: flex;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.send-erpnext-btn {
  margin-top: 20px !important;
  background: #39C25D !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  font-size: 15px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  letter-spacing: 2px !important;
}