.App {
  text-align: center;
}

.ql-editor ol, .ql-editor ul {
    padding-left: 0 !important;
}

.ql-editor li {
    padding-left: 1.5em !important;
}

[data-mui-color-scheme="dark"] {
  .App-header {
    background-color: rgb(0, 30, 60);
  }
  .timelog-card-header .MuiTypography-root {
    color: white;
  }
  body {
    background-color: #121212;
  }
  .app-title {
    color: mintcream !important;
  }
  .ql-editor {
    color: white;
  }
  .timelog-card-header {
    background-color: #1D575C
  }
  .MuiTypography-root a {
    color: white;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.separator {
  width: 1em;
}

.time-box {
  max-width: 200px;
  border-radius: 5px;
  margin-top: -8px;
  display: flex;
  flex-direction: column;
}

.timelog-card-header {
  background-color: #e7c24a;
}

.timelog-card-header .MuiTypography-root {
  font-weight: bold;
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 20px;
  background-color: #e7c24a;
  padding-bottom: 10px;

  .MuiGrid-root {
    margin-left: -2px;
    padding-left: 0;
  }

  .app-title-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: -20px;
  }

  .MuiOutlinedInput-root {
  }

  .headerInput {
    border-radius: 4px;
  }

  .app-title {
    color: #1d575c;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 25px;
    display: flex;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.send-erpnext-btn {
  margin-top: 20px !important;
  background: #39C25D !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  font-size: 15px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  letter-spacing: 2px !important;
}

.timelogs-info {
  justify-content: flex-start;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.timelogs-info .MuiChip-filled {
  border-radius: 0;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.MuiAutocomplete-listbox {
  .Mui-focused {
    opacity: 0.8;
  }
}

.quote {
  font-family: 'noto_serif_italic', serif !important;
  max-width: 400px;
}

.quote-author {
  font-family: 'noto_serif', serif !important;
  padding-top: 10px;
}

.MuiAutocomplete-option {
  text-align: left;
}

@media (max-width: 800px) {
  .timesheet-container {
    flex-direction: column-reverse !important;
  }
  .container-options {
    padding-right: 8px !important;
  }
  .time-box {
    width: 100%;
  }
}

.ql-toolbar {
  text-align: left;
}

.ql-editor {
  min-height: 150px;
  font-size: 13pt !important;
}

.ql-container {
  min-height: 150px;
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 5px;
  font-size: 13pt !important;
}

.ql-container.ql-snow {
  border: 0 !important;
}

.ql-editor a {
    color: black !important;
}

[data-mui-color-scheme="dark"] {
    .ql-editor a {
        color: white !important;
    }

  .quote-container {
    color: white;
  }
}

.time-picker button {
    padding-left: 0;
}

.time-picker svg {
    width: 0.8em;
}

.loading-container {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.big-text {
  display: flex;
  pointer-events: none;
  z-index: 999;
  position: fixed;
  font-size: 30px;
  font-weight: bold;
  color: white;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.animate-character {
  max-width: 50%;
  text-transform: uppercase;
  background-image: linear-gradient(
                  -225deg,
                  #231557 0%,
                  #44107a 29%,
                  #ff1361 67%,
                  #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.fade-in {
    transition: opacity 1s ease;
}
.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}