.row-root {
  background: rgb(119 125 149 / 31%) !important;
}

.root-parent {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-project-container {
  margin-left: auto;
}

.timeline-filter input {
  height: 44px;
}