.Standup {
    padding-right: 10px;
    display: flex;
    min-width: 150px;
    .StandupButton {
        height: 52px;
    }
}

.StandupModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 2px solid #000;
    background-color: inherit;
    box-shadow: 24;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;

    .ql-editor {
        font-size: 12pt !important;
        max-height: 50vh;
        max-width: 100%;
    }

}

[data-mui-color-scheme="dark"] {
    .StandupModal {
      background-color: rgb(22, 26, 30);
      color: white;
    }
}