.Standup {
    padding-right: 10px;
    display: flex;
    min-width: 150px;
    .StandupButton {
        height: 52px;
    }
}

.StandupModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 2px solid #000;
    background-color: var(--mui-palette-header-main);
    box-shadow: 24;
    padding: 20px;
    border-radius: 10px;

    .ql-editor {
        font-size: 12pt !important;
        max-height: 50vh;
        max-width: 100%;
    }

}
