.timelog-submitted {
  background-color: rgba(51, 153, 66, 0.25);
}

.time-log-row {
  text-align: left;
  min-height: 3em;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 10px;

  padding-right: 1em;
  padding-left: 0.5em;

  .time-log-project {
    text-align: left;
    align-items: center;
    display: flex;
    font-size: 13pt;
    font-weight: bolder;
    color: white;
  }

  .time-log-hour-table {
    font-size: 13pt;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    margin-bottom: 6px;
  }

  .time-log-task {
    text-align: left;
    align-items: center;
    display: flex;
    font-size: 12pt;
    color: white;
  }

  .time-log-item {
    padding-top: 0 !important;
  }

  .left-item {
    padding-left: 1em !important;
  }

  .center-item {
    padding-left: 0 !important;
    text-align: center;
  }

  .activity-type {
    display: inline-block;
    font-size: 0.8em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #EA836D;
    color: white;
  }
}

.MuiCardContent-root:last-child {
  padding-bottom: 0 !important;
}

.MuiAutocomplete-option {
  text-align: left;
}

.timelog-card-header {
  .MuiCardHeader-content {
    display: flex !important;
  }
}