<!DOCTYPE html>
<html lang="en">
<head>
    {% load render_bundle from webpack_loader %}
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script>
        const csrfToken = "{{ csrf_token }}";
    </script>
    <style>
        @font-face {
            font-family: noto_serif;
            src: url(/static/Noto_Serif/NotoSerif-Regular.ttf);
        }
        @font-face {
            font-family: noto_serif_italic;
            src: url(/static/Noto_Serif/NotoSerif-Italic.ttf);
        }
    </style>
</head>
<body>
    <div id="root"></div>
    {% render_bundle 'App' %}
</body>
</html>
