<!DOCTYPE html>
<html lang="en">
<head>
    {% load render_bundle from webpack_loader %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planning</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🗓️</text></svg>">


    <script>
        const csrfToken = "{{ csrf_token }}";
        window.apiKey = "{{ preferences.TimesheetPreferences.map_api_key }}";
        window.csrftoken = "{{ csrf_token }}";
        window.isStaff = {% if user.is_staff %}{% if public %}false{% else %}true{% endif %}{% else %}false{% endif %};
        window.publicTimelineId = {% if public_timeline %}{{ public_timeline.id }}{% else %}null{% endif %};
        window.startTime = {% if public_timeline %}new Date("{{ public_timeline.start_time}}"){% else %}null{% endif %};
        window.endTime = {% if public_timeline %}new Date("{{ public_timeline.end_time }}"){% else %}null{% endif %};
    </script>
    <style>
        @font-face {
            font-family: noto_serif;
            src: url(/static/Noto_Serif/NotoSerif-Regular.ttf);
        }
        @font-face {
            font-family: noto_serif_italic;
            src: url(/static/Noto_Serif/NotoSerif-Italic.ttf);
        }
    </style>
</head>
<body>
    <div id="root"></div>
    {% render_bundle 'Planner' %}
</body>
</html>
